body {
    margin: 0px;
    background-color: plum;
}

main {
    position: static;
    top: 150px;
}

article {
    margin: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: blueviolet;
    color: white;
}

h1 {
    color: blueviolet;
}

h2 {
    color: white;
}

#caja1, #caja2, #caja3 {
    background-color: white;
    color: black;
    border: blue solid 5px;
}

#caja1 {
    float: right;
    width: 200px;
    height: 300px;
}

#caja2 {
    float: right;
    width: 200px;
    height: 300px;
}

#caja3 {
    width: 500px;
    height: 300px;
}

/*backgroud color, font size, margin, width, height, float*/
